/App/src/resources/song/extra/
/App/src/resources/song/testing/
/App/src/resources/song/training/
/App/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.class
.classpath
.project
.settings/
.mvn/timing.properties
*.swp

